<header>
    <h1>Productos del Carrito</h1>
</header>

<section>
    <table id="cart-table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Código</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody id="cart-list">
            
        </tbody>
    </table>

</section>

<button id="go-home" class="btn-home">Volver al home</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/cart.js"></script>